@use '../../styles/colors';

.wheel-page {
  &__spinner {
    max-width: calc(100vh - 300px);
    position: relative;
    width: 100%;

    &__marker {
      left: 50%;
      position: absolute;
      top: -15px;
      transform: translateX(-50%);
      z-index: 1;

      svg {
        fill: colors.$white;
        filter: drop-shadow(0 4px 2px rgb(0 0 0 / 40%));
        height: 20px;
        overflow: visible;
        stroke: colors.$black;
        stroke-linejoin: round;
        stroke-width: 1px;
        width: 40px;
      }
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 12px;
    z-index: 2;
  }
}