@use '../../styles/colors';

.wheel-page {
  &__spinner {
    position: relative;
    width: 100%;
    max-width: calc(100vh - 300px);

    &__marker {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      svg {
        height: 20px;
        width: 40px;
        fill: colors.$white;
        filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.4));
        stroke: colors.$black;
        stroke-width: 1px;
        stroke-linejoin: round;
        overflow: visible;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 2;
  }
}