@use '../../styles/colors';
@use '../../styles/vars';

header {
  align-items: center;
  background-color: colors.$header;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  height: vars.$header-height;
  padding: 20px;
}