@use '../colors';
@use '../typography';

.cta {
  background-color: colors.$cta;
  border: 0;
  border-radius: 3px;
  box-shadow: 4px 4px 2px rgb(0 0 0 / 20%);
  color: colors.$black;
  cursor: pointer;
  display: flex;
  font-family: typography.$default-font-family;
  font-size: 18px;
  font-weight: typography.$default-font-weight;
  outline: 0;
  padding: 12px 16px;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    background-color: colors.$cta-hover;
    color: colors.$cta-hover-text;
  }
}