@use '../../../styles/colors';
@use '../../../styles/typography';

.wheel {
  width: 100%;
  height: auto;
  display: block;
  overflow: visible;

  #slice {
    stroke: colors.$black;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
}

.segment-label {
  font-size: 32px;
  fill: colors.$white;
  font-family: typography.$wheel-font-family;
  font-weight: typography.$wheel-font-weight;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}