@use '../../../styles/colors';
@use '../../../styles/typography';

.wheel {
  width: 100%;
  height: auto;
  display: block;
  overflow: visible;

  #slice {
    stroke: colors.$black;
    stroke-width: 2px;
    stroke-linejoin: round;
    ;
  }
}

.segment-label {
  font-size: 18px;
  fill: colors.$white;
  font-family: typography.$default-font-family;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}