@use '../../../styles/colors';
@use '../../../styles/typography';

.wheel {
  &__svg {
    display: block;
    height: auto;
    overflow: visible;
    width: 100%;

    #slice {
      stroke: colors.$black;
      stroke-linejoin: round;
      stroke-width: 2px;
    }

    &__text {
      fill: colors.$white;
      font-family: typography.$headline-font-family;
      font-size: 32px;
      font-weight: typography.$headline-font-weight;
      text-shadow: 4px 4px 0 rgb(0 0 0 / 20%);
    }
  }
}