@use 'colors';
@use 'typography';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: colors.$background-gradient;
  background-color: colors.$background;
  color: colors.$white;
  font-family: typography.$default-font-family;
  font-weight: typography.$default-font-weight;
}