$background: #252525;
$background-offset: #232027;
$background-gradient: linear-gradient(45deg, $background, $background-offset);
$header: #37323c;
$cta: #efeee9;
$cta-hover: #d7d5ce;
$cta-hover-text: #0d0d0d;
$black: #1f1f1f;
$white: #f4f4f4;