@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Noticia+Text:wght@700&family=Ubuntu&display=swap');

$default-font-family: "Ubuntu", sans-serif;
$default-font-weight: 400;

$logo-font-family: "Leckerli One", cursive;

$headline-font-family: "Noticia Text", serif;
$headline-font-weight: 700;

h1 {
  font-family: $logo-font-family;
  font-size: 42px;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: $headline-font-family;
  font-size: 36px;
}